@{
    ViewData["Title"] = "Reports";
}

    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="Search">Search by date period</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="Suspicios">Suspicious Transactions</a>
    </p>