@model WebApp.Models.Currency

@{
    ViewData["Title"] = "Add Currency";
}

    <form asp-controller="Currency" asp-acion="Add" method="post" class="mt-3">
        @{
            Html.RenderPartial("CurrencyData");
        }

    </form>